@import 'variables.scss';
@import "ember-bootstrap/bootstrap";
@import 'navigation.scss';
@import 'tasks';

*{

    transition: all 0.2s ease;

}

body{

    font-family: 'Lato';
    background: #222 url('/assets/img/bg.png');
    background-size: cover;

}

.break-line-margin{

    margin-bottom: 40px;

}


.flat-input{

    width: 100%;
    float: left;
    background: transparent;
    border: 0;
    font-size: 16px;
    color: #222;
    border-bottom: 2px solid rgba(black, 0.1);
    margin-bottom: 10px;
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;

    &.white-bg{

        color: #777;
        padding: 0;
        border: 0;
        text-align: center;
        font-size: 15px;

    }


    &.no-1hd{

        width: auto;

    }

    &::placeholder{

        color: #888;

    }

    &:focus{
        outline: none;
    }

    &.number{

        float: right;
        width: 50px;
        color: #444;
        padding: 10px;
        font-size: 12px;
        border: 0;


    }

}


button{

    border: 0;

}

.for-checkbox{

    float: left;
    margin-left: 10px;
    color: #888
}

@import 'media.scss'
