.tasks-list{

    float: left;
    width: 720px;
    padding: 20px;
    box-sizing: border-box;

}

.add-task-content{

    width: 360px;
    padding: 20px;
    box-sizing: border-box;
    float: left;

}
